.draggable {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    cursor: move;
    transition: all .2s ease-in-out;
}

.dragged {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    background-color: darkgray;
}


.drop-target {
    border: 1px dashed #ebebeb;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
}

/*.image {
        width: 200px;
        height: 200px;
        transition: all .2s ease-in-out;
    }*/

.draggable:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.demo-mat-card {
    max-width: 250px;
}

.demo-mat-card-content {
    padding: 1rem;
}

.demo-mat-card-clean-margin {
    margin: 0px;
}