.draggable {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    cursor: move;
    transition: all .2s ease-in-out;
}

.dragged {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    background-color: darkgray;
}


.drop-target {
    border: 1px dashed #ebebeb;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
}

/*.image {
        width: 200px;
        height: 200px;
        transition: all .2s ease-in-out;
    }*/

.draggable:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.demo-mat-card {
    max-width: 250px;
}

.demo-mat-card-content {
    padding: 1rem;
}

.demo-mat-card-clean-margin {
    margin: 0px;
}

﻿.footer::before {
     content: '';
     display: block;
     height: 50px;
 }

.footer .form-row {
    background-color: #e6e6e6;
    padding: 8px;
    margin: 0;
    position: fixed;
    right: 0;
    left: 250px;
    bottom: 0;
}

.footer .form-row select {
    background-color: transparent;
}

@media (max-width: 767.98px) {
    .footer .form-row {
        left: 0;
    }
}

.survay-prompt a {
    font-weight: bold;
}