@page "/about"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h1>@Text.About</h1>

<p>@Text.Hadis</p>
<p>@Text.HadisSrc</p><br /><br />

<p>E-mail:</p>
<p>evren07unal@gmail.com</p>

<p>Sources:</p>
<a href="https://99namesofallah.name/" target="_blank" class="ml-md-auto">99namesofallah.name</a><br />
<a href="https://allahin99ismi.com/" target="_blank" class="ml-md-auto">allahin99ismi.com</a>


@code {


    public I18nText.Text Text = new I18nText.Text();

    protected async override Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<I18nText.Text>(this);
    }


}
